Não instale nenhum pacote globalmente, somente na pasta do projeto.

git branch -M main
git push -u origin main
git remote add origin https://github.com/Gitthub-Andre/Servidor.git
git add .
git commit -m "Implementação de comandos do Plex Media Server"
git push